*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica;
}

html, body {
    height: 100%;
    width: 100%;
}

/* when using class its .(dot) while id its #(railway sign) */
.page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}

.page1 video {
    height: 100% ;
    width: 100%;
    object-fit: cover;
}